<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Subtype</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"></link>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  	<script type="text/javascript" th:inline="javascript" th:src="@{/js/script.js}"></script>			
</head>

<body>

	<div class="container">
		<div id="title"><h2>Page Subtype</h2></div>
		<ul>
			<li th:each="title : ${titles}" th:text="${title}"/>
		</ul>
	</div>

</body>
</html>